# Files and directories created by pub
.packages
.pub/
packages
pubspec.lock

build/
static/

# Files created by dart2js
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json

# Directory created by dartdoc
doc/api/

# Directories created by dart_dev
coverage/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

# Other files
*.local.*
